<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>LoanCreator Simulator</title>

    <%= erb :stylesheet %>
  </head>

  <body>
    <div class="container mx-auto mt-5">
      <%= yield %>
    </div>
  </body>
</html>
