<br />
<tr>
  <th>t</td>
  <th>date</td>
  <th>period total</td>
  <th>period capital</td>
  <th>period interests</td>
  <th>remaining capital</td>
  <th>total capital</td>
  <th>total interests</td>
</tr>
